@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: o;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "League Spartan", serif;
}

.main {
  display: grid;
  width: 80%;
  margin: auto;
  justify-content: center;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: 
  "   col1      coll        col2      col2    "
  "   item1     item2       item3     .       "
  ;
  gap: 10px;
}

.col1 {
  grid-area: col1;
  /* background: yellow; */
}

.col1 span {
  display: flex;
  gap: 20px;
  color: hsl(300, 43%, 22%);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.col2 {
  grid-area: col2;
  display: flex;
}
li {
  margin-bottom: 20px;
  font-size: 10px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  background: hsl(300, 24%, 96%);
  padding: 10px;
  border-radius: 5px;
}

li img {
  width: 8px;
}

li {
  list-style: none;
}

.col {
  color: white;
  padding: 25px;
  border-radius: 10px;
  background: hsl(300, 43%, 22%);
}

.col p {
  margin: 5px;
}

.column {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.column img {
  width: 35px;
  border-radius: 20px;
}

.column span {
  font-size: 11px;
  color: hsl(333, 80%, 67%);
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}